#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    
}
#footer div {
    padding: 10px; /* Поля вокруг текста */
    background: rgba(50,50,50,255); /* Цвет фона */
}
